@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  display: flex;
  width: 90vw;
  }

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #f50404;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
  
}

.panel h3 {
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&display=swap');
body {
    display: block;
    height: auto; /* Allow page to expand */
    overflow-y: auto; /* Enable scrolling */
    margin: 0;
    padding: 2px; /* Add some padding for spacing */
  }
  
  .heading {
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    text-align: center;
    margin-top: 35px; /* Move heading lower */
    margin-bottom: 20px;
    color: #333;
  }

.register-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .register-btn:hover {
    background-color: darkred;
  }
